.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared Style */
.shared-btn
{
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    /* width: 140px;
    height: 48px; */
    background: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
}

.shared-btn:hover
{
    background-color: orangered;
}
/* header style */
.header
{
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;
}

.logo
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}

.logo-title
{
    font-size: 35px;
    font-weight: bold;
    color: #4E47FF;
}

/* agencies-title section */
.agencies
{
    align-items: center;
    text-align: center;
}

.agencies-title
{
    font-size: 65px;
    font-weight: bold;
}

/* action section */
.action-section
{
    display: flex;
    margin: 150px 300px;
}
.left-side
{
    margin-right: 220px;
}
.action-title
{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action-subtitle
{
    font-size: 24px;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);
}

.action-img
{
    border-radius: 48px;
}

/* productive-user-section */
.productive-user-section
{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    margin-left: 200px;
    margin-right: 160px;
    padding: 50px 142px;
}

.productive-user-title
{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}

.card-section
{
    display: flex;
    justify-content: space-around;
}

.card-main-title
{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

.active-user
{
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

/* What our users say section */
.feedback-title
{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin-top: 137px;
}

.feedback-title-card
{
    display: flex;
    margin: 50px 150px;
    justify-content: space-around;
}

.feedback-card
{
    background-color: #FFFFFF;
    gap: 20px;
    padding: 24px;
}

.user-title
{
    font-size: 20px;
    font-weight: bold;
}

.user-subtitle
{
    font-size: 16px;
    font-weight: 400;
}

.reviewer
{
    display: flex;
}

.reviewer-img
{
    border-radius: 50px;
    margin-right: 6px;
}

.reviewer-name
{
    font-size: 20px;
    font-weight: 400;
    color: #252432;
}

.reviewer-date
{
    font-size: 16px;
    font-weight: 400;
    color: #252432;
}

/* Ready to focus better */
.Ready-to-focus-better
{
    border: 2px solid red;
    text-align: center;
    border-radius: 14px;
    margin: 137px 200px;
}

.focus-title
{
    font-size: 50px;
    font-weight: bold;
}

.focus-description
{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.img-focus
{
    margin-top: 20px;
    margin-bottom: 70px;
    border-radius: 48px;
}

/* get in touch section */
.touch-section
{
    display: flex;
    justify-content: center;
}

.touch-input-section
{
    width: 500px;
    height: 500px;
}

.touch-title
{
    font-size: 97px;
    font-weight: bold;
    margin-right: 115px;
}

form label [type = 'email'], [name = 'message'], [type = 'text']
{
    display: block;
    width: 500px;
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

input::placeholder, textarea::placeholder
{
    font-size: 16px;
    font-weight: 400;
}

.get-in-touch
{
    height: 65px;
    width: 500px;
}